<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911599589189-0nn32gampes710dcedg46eakq8p0n882.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911599589189-0nn32gampes710dcedg46eakq8p0n882</string>
	<key>API_KEY</key>
	<string>AIzaSyCRXQYxQckPbfgJ5LtLyiXXz9zypz-s4Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>911599589189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.damasceno.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-16571</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-16571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911599589189:ios:2d42677c91a5cf27bf102c</string>
</dict>
</plist>